<footer>
    <div class="sponsor-bar">
        <div class="sponsor-item">
            <a href="https://www.oss.kr" target="_blank" rel="noopener">
                <img src="{{ site.baseurl }}/assets/sponsor/sponsor.gif" alt="OSS">
            </a>
        </div>
        <div class="sponsor-item">
            <a href="https://www.oss.kr/open_up_intro" target="_blank" rel="noopener">
                <img src="{{ site.baseurl }}/assets/sponsor/openup.png" alt="OpenUp">
            </a>
        </div>
    </div>
    <div style="background: #FF3333; height: 2px; width: 100%;"></div>
    <div style="background: #339933; height: 2px; width: 100%;"> </div>
    <div style="background: #3333CC; height: 2px; width: 100%;"></div>
    <div class="copyright">
        © {{ site.time | date: '%Y' }} GStreamer 101. All rights reserved.
    </div>
</footer>