<header class="site-header">
    <div class="header-inner">
        <div class="site-brand">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/logo.png" alt="Logo" class="logo-img">
                <span class="site-title-text">GStreamer 101</span>
            </a>
        </div>
        <nav class="site-nav">
            <a href="https://github.com/gstreamer101" target="_blank" rel="noopener">
                <img src="{{ site.baseurl }}/assets/github-icon.png" alt="GitHub" style="height: 16px; vertical-align: middle; margin-right: 4px;">
                GitHub
            </a>
        </nav>
        </nav>
    </div>
</header>
